[package]
name = "seismon"
version = "0.2.0"
authors = ["Eira Fransham <eira.fransham@gmail.com>", "Cormac O'Brien <cormac@c-obrien.org>"]
edition = "2024"
resolver = "2"

[workspace]
members = [
    "crates/bevy_mod_pakfile",
    "crates/lined",
]

[workspace.dependencies]
beef = "0.5"
bevy = { version = "0.16" }
bounded-integer = "0.6"
byteorder = "1.3"
clap = { version = "4.5", features = ["derive", "color"] }
futures = "0.3.5"
hashbrown = "0.15"
lock-free = "0.1"
memmap2 = "0.9"
nom = "7.1"
serde-lexpr = { git = "https://github.com/eira-fransham/lexpr-rs.git" }
serde = { version = "1.0", features = ["derive"] }
snafu = { version = "0.8", features = ["unstable-provider-api"] }
# TODO: Replace with `anyhow`
thiserror = "1.0"
tokio = "1.47"

[dependencies]
bevy_mod_pakfile = { path = "crates/bevy_mod_pakfile" }
lined = { path = "crates/lined" }

arrayvec = "0.7"
beef.workspace = true
bevy_capture = { version = "0.3", features = ["gif", "mp4_openh264"], optional = true }
bevy_seedling = { version = "0.4", git = "https://github.com/CorvusPrudens/bevy_seedling.git", rev = "74a5568" }
bevy.workspace = true
bitflags = "2.4"
bitvec = "1.0"
bumpalo = "3.4"
bytemuck = "1.14"
byteorder.workspace = true
chrono = "0.4.0"
clap.workspace = true
dashmap = "5.5"
failure = "0.1.8"
firewheel = "0.4"
fundsp = "0.20"
futures.workspace = true
hashbrown.workspace = true
hashers = "1.0"
im = "15.1.0"
image = "0.25"
imstr = "0.2"
indexmap = "2.9"
itertools = "0.14"
memmap2.workspace = true
nom.workspace = true
num = "0.4"
num-derive = "0.4"
num-traits = "0.2"
parking_lot = "0.12"
pest = "2.8"
pest_derive = "2.8"
qbsp = "0.5"
rand = { version = "0.9", features = ["small_rng", "thread_rng"] }
serde-lexpr.workspace = true
serde.workspace = true
shaderc = "0.8"
slab = "0.4"
smol_str = "0.2"
snafu.workspace = true
strum = "0.26"
strum_macros = "0.26"
symphonium = "0.5"
thiserror.workspace = true
uluru = "3"
uuid = "1.12"
wgpu = { version = "24.0", features = ["spirv", "vulkan-portability"] }
winit = "0.29"

[features]
default = ["fast-compile"]
fast-compile = ["bevy/dynamic_linking"]
capture = ["dep:bevy_capture"]
dev_tools = ["bevy/bevy_dev_tools"]

[profile.release-lto]
inherits = "release"
strip = "symbols"

[profile.dev]
opt-level = 1

[profile.dev.package.bevy]
opt-level = 3
