[package]
name = "seismon"
version = "0.2.0"
authors = ["Eira Fransham <eira.fransham@gmail.com>", "Cormac O'Brien <cormac@c-obrien.org>"]
edition = "2024"
resolver = "2"

[workspace]
members = [
    "crates/seismon-utils",
    "crates/lined",
    "crates/bevy_mod_mdl",
    "crates/bevy_mod_pakfile",
]

[workspace.package]
# Needs to be licensed under GPL to be compatible with Quake 1's license (since it was used
# as reference for many functions in the server).
license = "GPL-2.0"
homepage = "https://github.com/eira-fransham/seismon"
repository = "https://github.com/eira-fransham/seismon"

[workspace.dependencies]
seismon-utils = { path = "crates/seismon-utils" }
bevy_mod_mdl = { path = "crates/bevy_mod_mdl" }

bevy = "0.16"
bevy_asset = "0.16"
bevy_app = "0.16"
bevy_log = "0.16"
bevy_tasks = "0.16"
bevy_math = "0.16"
bevy_reflect = "0.16"

beef = "0.5"
bitflags = "2.4"
chrono = "0.4"
termion = "4.0"
unicode-width = "0.2"
itertools = "0.14"
strip-ansi-escapes = "0.2"
byteorder = "1.3"
clap = { version = "4.5", features = ["derive", "color"] }
futures = "0.3.5"
hashbrown = "0.15"
memmap2 = "0.9"
nom = "7.1"
num = "0.4"
num-derive = "0.4"
num-traits = "0.2"
serde-lexpr = { git = "https://github.com/eira-fransham/lexpr-rs.git" }
serde = { version = "1.0", features = ["derive"] }
snafu = { version = "0.8", features = ["unstable-provider-api"] }
# TODO: Replace with `anyhow`
thiserror = "1.0"
tokio = "1.47"

[dependencies]
bevy_mod_pakfile = { path = "crates/bevy_mod_pakfile" }
lined = { path = "crates/lined" }
seismon-utils.workspace = true

bevy.workspace = true
bevy_mod_mdl.workspace = true
beef.workspace = true
bitflags.workspace = true
byteorder.workspace = true
clap.workspace = true
chrono.workspace = true
futures.workspace = true
hashbrown.workspace = true
itertools.workspace = true
memmap2.workspace = true
nom.workspace = true
num.workspace = true
num-derive.workspace = true
num-traits.workspace = true
serde-lexpr.workspace = true
serde.workspace = true
snafu.workspace = true
thiserror.workspace = true

arrayvec = "0.7"
bevy_capture = { version = "0.3", features = ["gif", "mp4_openh264"], optional = true }
bevy_seedling = { version = "0.4", git = "https://github.com/CorvusPrudens/bevy_seedling.git", rev = "74a5568" }
bevy-inspector-egui = "0.33"
bitvec = "1.0"
bumpalo = "3.4"
bytemuck = "1.14"
dashmap = "5.5"
failure = "0.1.8"
firewheel = "0.4"
hashers = "1.0"
im = "15.1.0"
image = "0.25"
imstr = "0.2"
indexmap = "2.9"
parking_lot = "0.12"
pest = "2.8"
pest_derive = "2.8"
qbsp = "0.5"
rand = { version = "0.9", features = ["small_rng", "thread_rng"] }
shaderc = "0.8"
slab = "0.4"
smol_str = "0.2"
strum = "0.26"
strum_macros = "0.26"
symphonium = "0.5"
uluru = "3"
uuid = "1.12"
wgpu = { version = "24.0", features = ["spirv", "vulkan-portability"] }
winit = "0.29"

[features]
default = ["fast-compile"]
fast-compile = ["bevy/dynamic_linking"]
capture = ["dep:bevy_capture"]
dev_tools = ["bevy/bevy_dev_tools"]

[profile.release-lto]
inherits = "release"
strip = "symbols"

[profile.dev]
opt-level = 1

[profile.dev.package.bevy]
opt-level = 3
