[package]
name = "seismon"
version = "0.2.0"
authors = ["Eira Fransham <eira.fransham@gmail.com>", "Cormac O'Brien <cormac@c-obrien.org>"]
edition = "2024"
resolver = "2"

[dependencies]
arrayvec = "0.7"
beef = "0.5"
bevy = { version = "0.16", default-features = false, features = [
    "animation",
    "bevy_asset",
    "bevy_color",
    "bevy_core_pipeline",
    "bevy_gilrs",
    "bevy_gizmos",
    "bevy_gltf",
    "bevy_mesh_picking_backend",
    "bevy_pbr",
    "bevy_picking",
    "bevy_render",
    "bevy_scene",
    "bevy_sprite",
    "bevy_sprite_picking_backend",
    "bevy_state",
    "bevy_text",
    "bevy_ui",
    "bevy_ui_picking_backend",
    "bevy_window",
    "bevy_winit",
    "custom_cursor",
    "default_font",
    "hdr",
    "multi_threaded",
    "png",
    "smaa_luts",
    "sysinfo_plugin",
    "tonemapping_luts",
    "shader_format_glsl",
    "webgl2",
    "x11",
    "wayland",
] }
bevy_seedling = { version = "0.4", git = "https://github.com/CorvusPrudens/bevy_seedling.git", rev = "74a5568" }
bitflags = "2.4"
bimap = "0.6"
bumpalo = "3.4"
byteorder = "1.3"
bytemuck = "1.14"
cgmath = "0.18.0"
chrono = "0.4.0"
clap = { version = "4.5", features = ["derive", "color"] }
crossbeam-channel = "0.5"
failure = "0.1.8"
firewheel = "0.4"
futures = "0.3.5"
fundsp = "0.20"
hashbrown = "0.15"
hashers = "1.0"
dashmap = "5.5"
im = "15.1.0"
image = "0.25"
imstr = "0.2"
indexmap = "2.9"
itertools = "0.14"
memmap2 = "0.9"
ndarray = "0.15"
nom = "7.1"
num = "0.4"
num-traits = "0.2"
num-derive = "0.4"
parking_lot = "0.12"
png = "0.17"
rand = { version = "0.9", features = ["small_rng", "thread_rng"] }
# TODO: Need to use git checkout to allow stdin/stdout to be types other than concrete Stdin/Stdout
redox_liner = { version = "0.7.1", git = "https://github.com/eira-fransham/liner.git" }
regex = "1.10"
serde = { version = "1.0", features = ["derive"] }
# TODO: Need to use git checkout to expose the decoder type, so that it can be used inside another decoder
serde-lexpr = { git = "https://github.com/eira-fransham/lexpr-rs.git" }
serde_json = "1.0"
shaderc = "0.8"
slab = "0.4"
smol_str = "0.2"
snafu = { version = "0.8", features = ["unstable-provider-api"] }
strum = "0.26"
strum_macros = "0.26"
symphonium = "0.5"
thiserror = "1.0"
uluru = "3"
uuid = "1.12"
wgpu = { version = "24.0", features = ["spirv", "vulkan-portability"] }
winit = "0.29"

video-rs = { version = "0.6", features = ["ndarray"], optional = true }

[features]
default = ["screenrecord", "fast-compile"]
screenrecord = ["video-rs"]
fast-compile = ["bevy/dynamic_linking"]

[profile.release-lto]
inherits = "release"
strip = "symbols"

[profile.dev]
opt-level = 1

[profile.dev.package.bevy]
opt-level = 3
